*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: AvenirNext;
    src: url('fonts/Avenir\ Next\ LT\ Pro\ Regular.otf') format(truetype);
    font-weight: normal; font-style: normal;
}

body {
    background: url("images/mainBackground2.webp") no-repeat;
    background-size: 1920px 1080px;
}

.mainBody{
    display: flex;
    justify-content: center;
    margin-top: 210px;
}

.sideBox{
    background-color: rgba(255, 0, 0, 0.7);
    width: 175px;
    height: 350px;
}

.centerBox{
    background-color: rgba(255, 255, 255, 0.9);
    width: 340px;
    height: 350px;
    text-align: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9) url("images/flag-pe-shield.png") no-repeat center;
    background-size: 250px;
}

.welcomeText{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    background-color: rgb(255, 212, 70);
    border-radius: 10px;
    width: 350px;
}

.welcomeText *{
    font-family: AvenirNext;
    margin-bottom: 15px;
}

.welcomeText h1{
    font-size: 30px;
}
.welcomeText p{
    font-size: 24px;
}
.welcomeText h3{
    font-size: 19px;
}

.buttonsSect{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 400px;
}

.buttonsSect button{
    background-color: rgb(162, 255, 100);
    font-family: AvenirNext;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    border-radius: 15px;
    border: 0;
    padding: 10px;
}

.buttonsSect button:hover{
    transition: 1s;
    background-color: rgb(78, 190, 255);
    opacity: 0.8;
}

.contact_and_creds button{
    border: 0;
    border-radius: 5px;
    width: 180px;
    background-color: rgb(136, 231, 255);
    font-size: 30px;
    margin-top: 50px;
}

.contactForm{
    display: none;
    margin-left: 30px;
    margin-top: -900px;
    background-color: rgb(255, 234, 234);
    border: 5px solid rgba(255, 255, 255, 0.267);
    border-radius: 12px;
    width: 500px; height: 800px;
    font-family: Arial;
    font-size: 23px;
}

.contactForm *{
    text-align: center;
}

#userInpt{
    font-family: AvenirNext;
    font-size: 20px;
    width: 300px; height: 30px;
}

#submitButton{
    width: 300px;
    height: 40px;
}

.credits{
    color: rgb(86, 39, 255);
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}